DatingApp/DatingApp.xcodeproj/project.xcworkspace/xcshareddata/DatingApp.xccheckout
DatingApp/DatingApp.xcodeproj/xcuserdata/alexandernaumenko.xcuserdatad/xcschemes/DatingApp.xcscheme
DatingApp/DatingApp.xcodeproj/xcuserdata/alexandernaumenko.xcuserdatad/xcschemes/xcschememanagement.plist
